* {
    margin: 0%;
    padding: 0%;

}
nav {
    width: 100%;
    height: 60px;
    background-color: white;
    }
nav p {
    font-family:'Times New Roman';
    color: black;
    font-size: 36px;
    line-height: 30px;
    float: left;
    padding: 8px 196px 0px 20px;
}
nav ul{
    float: left;
    }
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family:'Times New Roman';
    color: black;
    font-size: 18px;
    padding: 15px 10px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: brown;
}
  
  .tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: black;
    color:purple;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    display: block;
  }
    .container{
      width: 100%;
      height: 500px;
      background-color: white;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
  }
  .pesquisa {
    display: inline-    flex;
    font-size: 20px;
}

.pesquisa-input , .p {
    font-size: inherit;
    border:solid white;
    margin: 25%;
    padding: 5px 5px;
    -moz-box-shadow:    5px 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px 5px #ccc;
    box-shadow:         5px 5px 5px 5px #ccc;
    outline: 0;
}

    .noticias {
        order: 2;
        display: block;
        text-decoration: none;
        position: relative;
        padding: 0 20px;
    }
    .noticias h3 p{
        font-size: 36px;
        line-height: 30px;
        float: left;
        

    }
        
    
   
